<h1><%= @post.title %></h1>
<%= @post.content %><br>
<p>
  Categories:
  <% @post.categories.each do |category| %>
    <%= category.name %><br>
  <% end %>
</p>
<p>
  Comments:<br>
  <% @post.comments.each do |comment| %>
    <%= comment.user.username%> says: <%= comment.content %><br>
  <% end %>
</p>
<p>
  Commentors:<br>
  <% @post.unique_commentors.each do |commentor| %>
    <%= link_to commentor.username, user_path %><br>
  <% end %>
</p>

Add a comment!
<%= form_for @post.comments.build do |f| %>
  <%= f.text_area :content %><br>
  <%= f.hidden_field :post_id, value: @post.id %>

  <p>Associate this comment with an existing user:<br>
  <%= select :comment, :user_id, User.all.collect {|u| [u.username, u.id]} %></p>

  <p>Or associate comment with a new user:<br>
  <%= f.fields_for :user, @post.users.build do |user_fields| %>
    <%= user_fields.label :username %>
    <%= user_fields.text_field :username %><br>
  <% end %></p>
  <%= f.submit %>
<% end %>
